header {
  background: url("/assets/color.png");
  background-size: cover;
  height: 200px; 
  position: relative;
}
.nav {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #aaaaaa;
  overflow: auto;
}
.nav ul {
  list-style: none;
  margin: 0 auto;
  width: 1200px;
}
.nav li {
  float: left;
  width: 135px;
}  
.nav li a {
  display: block;
  color: #aaaaaa;
  text-decoration: none;
  padding: 8px 10px;
  background-color: rgba(150,0,0,0.5);
  border: 2px solid #aaaaaa;
  border-radius: 4px 4px 0 0;
}
.nav li:first-child a {
  border-radius: 4px 4px 0 4px;
}
.nav li:last-child a {
  border-radius: 4px 4px 4px 0;
}
.nav li a:hover{
 border: 2px solid red;
 border-radius: 4px;  
}
body {
  text-align: center;
  background: url("/assets/background.png");
  color: #aaaaaa;
  font-family: 'Marvel', sans-serif;
  font-size: 24px;
  padding:0;
  margin:0;
  min-width: 1400px;
  overflow: auto;
}
#sidebar {
  float: left;
  min-width: 325px;
  width: 24.7%;
  position: relative;
  border-right: 2px solid #aaaaaa;
}
#sidebar ul {
  width: 100%;
  margin: 0 auto;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
#sidebar li {
  text-align: center;
  list-style-type: none;
  width: 100%;
  height: 40px;
  display: block;
  border-top: 2px solid #aaaaaa;
}
#sidebar li:last-child {
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 10px
}
#main {
  float: left;
  min-width: 975px;
  width: 75%;
}
h2 {
  margin: 0 0 1em;
}
#footer {
  clear: both;
  padding: 5px 10px;
  border-top: 2px solid white;
}
#footer p {
  margin: 0;
}
.shopping-list {
  max-width: 400px;
  margin: 0 auto;
  text-align: justify;
}
.fizzbuzz-list {
  max-width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
p {
  font-size: 22px;
}
h1 {
  color: #aaaaaa;  
  margin: 0 auto;
}
label {
  display: block;
  font-size: 20px;
}
input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;
  font-family: 'Marvel', sans-serif;
  color: black;
}
input[type="submit"] {
  background: rgba(150,0,0,1);
  color: #aaaaaa;
  width: 170px;
  border: 2px solid #aaaaaa;
}
input[type="submit"]:hover {
  background: #8B008B;
}
input[type=text]{
  width: 500px;
  font-size: 20px;
  padding: 2px;
  color: black;
}
input[type=password]{
  width: 500px;
  font-size: 20px;
  padding: 2px;
  color: black;
}
.like {
  background: rgba(0,0,175,1);
  border: 2px solid #aaaaaa;
  display: inline;
  margin-top: 10px;
  border-radius: 5px;
  color: #aaaaaa;
  font-size: 15px;
  padding: 5px;
}
.like:hover {
  background: rgba(0,0,255,1);
}
.like:active {
  border: 2px solid rgba(0,0,0,0);
}
.add {
  font-size: 20px;
  padding: 2px;
  width: 100px;
}
.fizzbuzz {
  font-size: 20px;
  padding: 2px;
  width: 100px;
}
textarea {
  width: 500px;
  height: 400px;
  font-size: 20px;
  font-family: monospace;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.label {
  text-align: right;
  padding: 5px;
}
.error {
  color: red
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
table.center td {
  padding: 10px;
}
hr {
  border-color: #aaaaaa;
}
.art {
  margin-top: 20px;
}
.map {
  position: absolute;
  display: inline;
  left: 10px;
  border-radius: 12px;
  border: 2px solid black;
}
.art-heading {
  position: relative;
  border-bottom: 3px solid #aaaaaa;
  max-width: 900px;
  margin: 0 auto;
}
.art-title {
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.art-body {
  padding: 5px;
  font-size: 17px;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;   
}
.art-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #999;
}
.art pre {
  text-align: left;
}
.main-title {
  display: block;
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  color: #aaaaaa;
  font-size: 40px;
}
.sub-main-title {
  margin-top: -20px;
}
.content{
  margin-top: 35px;
}
.content-heading {
  position: relative;
  border-bottom: 3px solid #aaaaaa;
  max-width: 700px;
  margin: 0 auto;
}
.content-subject {
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.content-body {
  padding: 10px;
  font-size: 17px;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  visibility: visible;
  height: auto;
}
.content-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #999;
}

.show-content {
  visibility: hidden;
  height: 0;
}

@media (max-width: 500px) {
  .nav li {
      display: block;
  }
  .main-title {
    font-size: 26px;
  }
}