{% extends "base.html" %}

{% block head %}
<head>
    <title>Ascii Chan</title>
</head>
{% endblock %}

{% block sidebar %}
	{% if img_url %}
		<img class="map" src="{{img_url}}">
	{% endif %}
{% endblock %}

{% block sidebardesc %}
<p>
Shows ascii art in a blog style, map generates based on submission IPs.<br>
Bug: First line in art section is offset to the right.
</p>
{% endblock %}

{% block content %}
<a href="/asciichan" class="main-title"> 
ASCII CHAN 
</a>

<form method="post">
	<label>
		<div>Title</div>
		<input type="text" name="title" value="{{title}}">
	</label>

	<label>
		<div>Art</div>
		<textarea name="art">{{art}}</textarea>
	</label>

	<div class="error">{{error}}</div>
	<br>
	<input type="submit" name="submit">
	
	<hr>
	<br>

</form>



{% for art in arts %}
	{{ art.render() | safe}}
	<br><br>
{% endfor %}
{% endblock %}