<!DOCTYPE html>

<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marvel:700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/assets/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/assets/main.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/codejs.js"></script>
    
    {% block head %}
    {% endblock %}
    
  </head>

  <body>
		<header>
      <h1><a href="/" class="main-title">Fourkeys Udacity Projects</a></h1>
      <div class="nav">
        <ul class="main-list">
          <li class="main-list-item"><a href="/rot13" class="title-link">Rot13 Cipher</a></li>
          <li class="main-list-item"><a href="/shopping" class="title-link">Shopping List</a></li>
          <li class="main-list-item"><a href="/fizzbuzz" class="title-link">Fizz Buzz</a></li>
          <li class="main-list-item"><a href="/asciichan" class="title-link">ASCII Chan</a></li>
          <li class="main-list-item"><a href="/blog" class="title-link">Blog</a></li>
          <li class="main-list-item"><a href="/signup" class="title-link">Signup Form</a></li>
          <li class="main-list-item"><a href="/login" class="title-link">Login</a></li>
          <li class="main-list-item"><a href="/robot" class="title-link">Robot</a></li>
        </ul>
      </div>
    </header>
    <br>
    {% block content %}
 		{% endblock %}
  </body>

</html>