{% extends "base.html" %}

{% block head %}
<head>
    <title>Blog Front Page</title>
</head>
{% endblock %}

{% block sidebardesc %}
<p>
Blog with some javascript elements, click title of blog post to see the post.<br>
Like button just generates an alert.<br>
Add .json or /.json for json output of page.<br>
Bug: Like button closes post
</p>
{% endblock %}

{% block content %}
<a href="/blog" class="main-title"> 
FOURKEYS BLOG 
</a>
<h2 class="sub-main-title"> Click a blog to view its contents </h2>

<form method="post">
	<input type="submit" name="submit" value="Create Blog Post" style="width: 200px">
</form>
<hr>
{% for blog in blogs %}
	{{ blog.render() | safe }}
	<br><br>
{% endfor %}
{% endblock %}