{% extends "base.html" %}

{% block head %}
<head>
    <title>CSS Robot</title>
     <link href='https://fonts.googleapis.com/css?family=Poller+One' rel='stylesheet' type='text/css'>
     <link type="text/css" rel="stylesheet" href="/assets/robot.css" />
</head>
{% endblock %}



{% block content %}
<div class="robot">
  <div class="beep"></div>
  <div class="brain"></div>
  <div class="torso">
    <div class="left">j</div>
    <div class="right">j</div>
  </div>
  <div class="foot"></div>
</div>

<button class="flash">laser eyes on/off</button>
<button class="color">change color!</button>



{% endblock %}